# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Serverless Webpack directories
.webpack/

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

# Ignore all local history of files
.history