# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# VisualStudioCode #
.vscode/*

# Txt files #
*.txt

# Environment # 
.env

# JS files #
*.js
